/*
 * Name: Jeremy Manalo
 * Date: 5-16-17
 * Filename: styles.css
 * Description: Style page used to customize blog website
*/

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    left: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

h2 {
   margin-bottom: -33px;
   text-align: center;
}

#trumpet {
    width: 164px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    color: grey;
    text-decoration: none;
}